/target
/server
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.css
*.css.map
*.class
/.lein-*
/.nrepl-port
/out
/.repl
*.log
/.env
/node_modules
/public_preise/js/compiled
/backups
/public_haupt/js/compiled
*~
*~
*#
.#*
/.shadow-cljs
/export
scss/haupt/.sass-cache/
scss/preise/.sass-cache/
preise.edn
/.sass-cache
/.cljs-kondo/.cache
/.clj-kondo/.cache
/public/compiled/
/styles/variables.scss

/directus/node_modules
/directus/extensions/*
!/directus/extensions/directus-extension-*/
/directus/extensions/directus-extension-*/dist/
/directus/extensions/directus-extension-*/node_modules/
/directus/euporos_festival_directus_backup.sql
/directus/current_server_db.sql
/directus/.nix-shell
/.nix-shell
/directus.nix-shell
/deps.local.edn
/directus/.env