.pswp__galerie-footer {
    position: absolute;
    z-index: 1700;
    padding: 4px 16px;
    background: $base-lighter;
    border-top: 3px solid $basecolor;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
    line-height: 1.3;
    box-sizing: border-box;
}

.galerie .galerie__vorschaubild {
    display: block;
    aspect-ratio: 1 / 1;
    background: #cccccc;
    overflow: hidden;

    > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }
}
