.pswp__galerie-footer {
    position: absolute;
    z-index: 1700;
    padding: 0.6rem 1rem;
    background: $base-lighter;
    border-top: 3px solid $basecolor;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    box-sizing: border-box;
    height: 48px;
}
