
* {
    margin: 0;
    padding: 0;
    *:before,
    *:after { // gefunder bei der Footer_Lösung
	box-sizing: inherit;
    }
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html {
    /* font-size 10px; */
    font-size: 100%;


    @include respond(tab-port) {
      font-size:90%	;
    } 




    link-color: $basecolor;
    visited: $basecolor;
    height: 100%;

}


body {
    font-family: 'Montserrat', sans-serif;
    background: top no-repeat url("/imgs/stehend_zentriert.jpg");
    background-color: #cccccc;
    background-attachment: fixed;
    background-size: cover;

    ::-moz-selection { /* Code for Firefox */
	 color: $base-lighter;
	 background: $basecolor;
    }

    ::selection {
	color: $base-lighter;
	background: $basecolor;
    }

    position: relative;
    margin: 0;
    padding-bottom: 3rem;
    min-height: 100%;
    
}


a {
    text-decoration: inherit;
    color: inherit;
}

.standardlink {
    color: $basecolor;
    
    &:hover {
	text-decoration: underline;
    }
}
