$ppadding: 1rem;

$basecolor: hsl(211, 100%, 36%);

$base-lighter: hsl(51, 100%, 80%);

$base-transparent: rgba($base-lighter, .75);
$base-transparent-lighter: rgba(lighten($base-lighter, 10%), .75);

.basecolor {
    fill: $basecolor;
    stroke: $basecolor;
}

.basecolor-fill {
    fill: $basecolor;
}

.basecolor-lighter-fill {
    fill: $base-lighter;
}

$textcolor: white;

$terminliste-width: 60rem;

$termin-gutter-horizontal: 1rem;
$termin-links-percent: 0.15;
$termin-mitte-percent: 0.65;
$termin-rechts-percent: 0.2;
$termin-summary-height: 4rem;

@import "base/_fonts";

@import "_mixins";

@import "abstracts/_mediaqueries";

@import "base/_base";

@import "layout/_navigation";

@import "layout/_mainframe";

@import "layout/_sheets";

@import "components/_home";

@import "_icons";

@import "_misc";

@import "components/_terminliste_flex.scss";

@import "components/_termin_einzel.scss";

@import "components/_programm.scss";

@import "components/_zeitung.scss";

@import "components/_kuenstler.scss";

@import "components/_cds.scss";

@import "components/_galerie.scss";

